# 默认的依赖包 指定的源
registry=https://registry.npmmirror.com/
###
# 私有服 指定源、按照不同的包名下载
# @私有服:registry = https://npm.[私有服].com
# @test:registry = https://npm.xx.com
###
###
strict-peer-dependencies=false
link-workspace-packages=false
###
###
###
## Do we hoist packages that are used as tooling throughout?
# public-hoist-pattern[]=*
# 提升含有 eslint(模糊匹配)、prettier(模糊匹配)、vite(精确匹配) 的依赖包到根 node_modules 目录下
public-hoist-pattern[]=husky
public-hoist-pattern[]=*lint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=vite
public-hoist-pattern[]=*vite-plugin-mock*
strict-peer-dependencies=false
