:root {
  --primary-color: #1890ff;
  --success-color: #52c41a;
  --error-color: #ff4d4f;
  --warning-color: #faad14;

  /* component */
  --component-background: #fff;
  --border-color-base: #d9d9d9;
  --detail-header-height: 40px;

  /* transition */
  --transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-all: all 0.3s var(--transition-bezier);

  /* header */
  --header-height: 60px;
  --header-background: #fff;

  /* tab */
  --tab-bar-height: 32px;

  /* main */
  --main-height: calc(100% - var(--footer-height));
  --main-width: 100%;

  /* footer */
  --footer-height: 60px;
  --footer-width: 100%;
}

:root[class=dark] {
  --layout-border-color: rgba(255, 255, 255, 0.09);
  --layout-container-background-color: rgb(16, 16, 20);
  --component-background: rgb(24, 24, 28);
}
